<!DOCTYPE html>
<html lang="en">

  {% include 'head.html' %}

  <body id="page-top">

    {% include 'navbar.html' %}

    <section class="section2">
      <div class="container-slim">
        <div class="section-heading text-center">
          <h2>Wallet Information</h2>
          <h4>Address:</h4>
          <p class="slim small">{{ address }}</p>
          <br>
          <img src="data:image/png;base64,{{ qrcode }}" width=200 class="center" alt="wallet_qr">
          <hr><br>
          <h4>Balance</h4>
          <p class="inline">{{ balances[1] | from_atomic }} XOL ({{ (balances[0] - balances[1]) | from_atomic }} locked)</p>
          <span class="dashboard-buttons">
              <a class="btn btn-lg btn-link btn-outline btn-xl js-scroll-trigger" href="#transfers">View TX History</a>
              <a class="btn btn-lg btn-link btn-outline btn-xl js-scroll-trigger" href="#send">Send TX</a>
              <a class="btn btn-lg btn-link btn-outline btn-xl js-scroll-trigger" href="#secrets">View Secrets</a>
          </span>
        </div>
      </div>
    </section>

    <section class="section1" id="transfers">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Transaction History</h2>
          <div style="width: 70%; text-align: center; margin: 0 auto;">
            <canvas id="xol_wallet"></canvas>
            <canvas id="xol_wallet_scatter"></canvas>
          </div>

          <script src="/static/js/Chart.bundle.min.js"></script>
          <link rel="stylesheet" href="/static/css/Chart.min.css"/>
          <script>
              const xolentum = '#2B2D42';
              const set_title = function (t) {
              return {
                  display: true,
                  text: t,
                  fontColor: 'white',
              }
          };

          let ctx = document.getElementById('xol_wallet').getContext('2d');
          new Chart(ctx, {
            type: 'line',
            data: {
              labels: [0, {% for i in sorted_txes %}'{{ sorted_txes[i].timestamp | datestamp  }}',{% endfor %}],
              datasets: [{
                label: 'Balance',
                backgroundColor: xolentum,
                borderColor: xolentum,
                data: [0, {% for i in sorted_txes %}{{ sorted_txes[i].total | from_atomic }},{% endfor %}],
                fill: false,
              }]
            },
            options: {
              title: set_title('Xolentum Wallet Balance')
            }
          });
          </script>
          <table class="table table-striped table-hover table-responsive table-responsive-sm tx-table">
            <tr>
              <th>Date</th>
              <th>Type</th>
              <th>Tx ID</th>
              <th>Amount</th>
              <th>Confirmations</th>
              <th>Height</th>
              <th>Fee</th>
            </tr>
            {% if transfers %}
            {% for tx in transfers | sort(attribute='timestamp', reverse=True) %}
              {% if tx.type == 'pool' %}<tr class="table-warning">{% else %}<tr>{% endif %}
                <td>{{ tx.timestamp | datestamp }}</td>
                <td>{{ tx.type }}</td>
                <td><a href="https://explorer.xolentum.org/?hash={{ tx.txid }}#blockchain_transaction" target="_blank">{{ tx.txid | truncate(12) }}</a></td>
                <td>{{ tx.amount | from_atomic }} XOL</td>
                <td>{{ tx.confirmations }}</td>
                <td>{{ tx.height }}</td>
                <td>{{ tx.fee | from_atomic }} XOL</td>
              </tr>
            {% endfor %}
            {% endif %}
          </table>
        </div>
      </div>
    </section>

    <section class="section2" id="send">
      <div class="container-slim">
        <div class="section-heading text-center">
          <h2>Send Transaction</h2>
          <i class="fa fa-qrcode fa-2x" id="startVideo"></i><br /><br />
          <div class="hidden" id="preview">
            <p>Show me a QR code!</p>
            <video id="video" width="300" height="200"></video>
            <br /><button id="stopVideo">Cancel</button>
          </div>
          <form method="POST" action="{{ url_for('wallet.send') }}" class="send-form">
              {{ send_form.csrf_token }}
              <div class="form-group">
                {{ send_form.address.label }}
                {{ send_form.address }}
              </div>
              <div class="form-group">
                {{ send_form.amount.label }}
                {{ send_form.amount }}
              </div>
              <div class="form-group">
                {{ send_form.payment_id.label }}
                {{ send_form.payment_id }}
              </div>
              <ul>
                {% for field, errors in send_form.errors.items() %}
                    <li>{{ send_form[field].label }}: {{ ', '.join(errors) }}</li>
                {% endfor %}
              </ul>
              <input type="submit" value="Send" class="btn btn-link btn-outline btn-xl">
              <a class="btn btn-link btn-outline btn-xl" style="margin-left: 10px" onclick="genPaymentID()">Generate</a>
              <script>
                  function genPaymentID() {
                      const genRanHex = size => [...Array(size)].map(() => Math.floor(Math.random() * 16).toString(16)).join('');
                      document.getElementById('payment_id').value = genRanHex(16);
                  }
              </script>
          </form>
        </div>
      </div>
    </section>

    <section class="section1" id="secrets">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Secrets</h2>
          <p>You need to save the secrets below; write them down on a physical medium and keep it in a safe location.</p>
          <hr><br>
            {% if secrets_form is defined %}
              <form method="POST" action="{{ url_for('wallet.secrets') }}" class="secrets-form">
                  {{ secrets_form.csrf_token }}
                  <div class="form-group">
                    {{ secrets_form.password.label }}
                    {{ secrets_form.password }}
                  </div>
                  <ul>
                    {% for field, errors in secrets_form.errors.items() %}
                        <li>{{ secrets_form[field].label }}: {{ ', '.join(errors) }}</li>
                    {% endfor %}
                  </ul>
                  <input type="submit" value="Verify" class="btn btn-link btn-outline btn-xl">
              </form>
            {% else %}
              <h3>Mnemonic Seed</h3>
              <p class="small">{{ seed }}</p>
              <br>
              <h3>Spend Key</h3>
              <p class="small">{{ spend_key }}</p>
              <br>
              <h3>View Key</h3>
              <p class="small">{{ view_key }}</p>
            {% endif %}
        </div>
      </div>
    </section>

    <section class="section2" id="send">
      <div class="container-slim">
        <div class="section-heading text-center">
          <h2>Reset Account</h2>
          <p>Please ensure you have copied the mnemonic seed from the secrets above if there are still funds associated with the keys.</p>
          <p>It is highly recommended to make a new wallet on your own and transferring funds there to ensure only you have full ownership and visibility into the private keys / seed. Not your keys, not your crypto!</p>
            <form method="POST" action="{{ url_for('auth.delete') }}" class="send-form">
              {{ delete_form.csrf_token }}
              {% for f in delete_form %}
                {% if f.name != 'csrf_token' %}
                  <div class="form-group">
                    {{ f.label }}
                    {{ f }}
                  </div>
                {% endif %}
              {% endfor %}
              <ul>
              {% for field, errors in delete_form.errors.items() %}
                  <li>{{ send_form[field].label }}: {{ ', '.join(errors) }}</li>
              {% endfor %}
              </ul>
              <input type="submit" value="Delete" class="btn btn-link btn-outline btn-xl">
          </form>
        </div>
      </div>
    </section>

    {% include 'footer.html' %}

    {% include 'scripts.html' %}

  </body>

</html>