<!DOCTYPE html>
<html lang="en">

  {% include 'head.html' %}

  <body id="page-top">

    {% include 'navbar.html' %}

    <section class="section2">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Wallet is being connected.</h2>
            <p>Your wallet is connecting. This page should auto-refresh when it's ready ... if not, click the button below. <br /><br />If you are restoring from a seed, please allow upto a couple hours for the process to complete.</p>
          <span class="dashboard-buttons">
              <a class="btn btn-lg btn-link btn-outline btn-xl" href="{{ url_for('wallet.dashboard') }}">Check Again</a>
          </span>
        </div>
      </div>
    </section>

    {% include 'footer.html' %}

    {% include 'scripts.html' %}

  </body>

</html>