<!DOCTYPE html>
<html lang="en">

  {% include 'head.html' %}

  <body id="page-top">

    {% include 'navbar.html' %}

    <section class="section1" style="padding: 2em 0 !important;">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Your wallet is connecting</h2>
            <p>Go smoke a fatty. This page should auto-refresh when it's ready...if not, click the button below. <br /><br />If you are restoring from a seed, please allow several minutes for the process to complete.</p>
           <div class="teh_matrix" style="position: relative;border-radius:4px;width:450px;margin-bottom:32px;border:1px solid green;height:250px;overflow:hidden;background-color:black;">
            <canvas id="q" width="450px" height="250px"></canvas>
            <span class="centered"></span>
            <img class="doge" width=80px src="/static/img/loading-doge.png"/>
            <span class="title">Very Secure Login™</span>
            <span class="body">
                ☑ many encryptions<br>
                ☑ very password<br>
                ☑ NASA certified<br>
                ☑ such login<br>
            </span>
          </div>
          <span class="dashboard-buttons">
            <div class="col-sm-12 dashboard-button">
              <a class="btn-link" href="{{ url_for('wallet.dashboard') }}">Check Again</a>
            </div>
          </span>
        </div>
      </div>
    </section>

    {% include 'scripts.html' %}

  </body>

</html>
