@font-face { font-family: Catamaran; font-weight: 200; src: url('Catamaran-ExtraLight.ttf'); }
@font-face { font-family: Catamaran; font-weight: 300; src: url('Catamaran-Light.ttf'); }
@font-face { font-family: Catamaran; font-weight: 400; src: url('Catamaran-Regular.ttf'); }
@font-face { font-family: Catamaran; font-weight: 500; src: url('Catamaran-Medium.ttf'); }
@font-face { font-family: Catamaran; font-weight: 600; src: url('Catamaran-SemiBold.ttf'); }
@font-face { font-family: Catamaran; font-weight: 700; src: url('Catamaran-Bold.ttf'); }
@font-face { font-family: Catamaran; font-weight: 800; src: url('Catamaran-ExtraBold.ttf'); }
@font-face { font-family: Catamaran; font-weight: 900; src: url('Catamaran-Black.ttf'); }
@font-face { font-family: Lato; font-weight: 400; src: url('Lato-Regular.ttf'); }
@font-face { font-family: Muli; font-weight: 400; src: url('Muli-Regular.ttf'); }

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  color: #fdcc52;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

a:hover, a:focus {
  color: #fcbd20;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #fcbd20;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav > li > a {
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: rgb(255, 102, 0) !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #fdcc52;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: white;
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: rgb(76, 76, 76);
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: rgb(255, 102, 0);
  }
}

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: url("../img/bg-pattern.png"), linear-gradient(to right, rgb(43, 45, 66), rgb(76, 76, 76));
}

header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}

header.masthead .header-content h1 {
  font-size: 30px;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead .header-content h1 {
    font-size: 50px;
  }
  header.masthead .device-container {
    max-width: 325px;
  }
}

section.download {
  position: relative;
  padding: 150px 0;
}

section.download h2 {
  font-size: 50px;
  margin-top: 0;
}

section.download .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}

section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}

section.download .badges .badge-link img {
  height: 60px;
}

@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  section.download h2 {
    font-size: 70px;
  }
}

section.section1 .section-heading {
  margin-bottom: 100px;
}

section.section1 .section-heading h2 {
  margin-top: 0;
}

section.section1 .section-heading p {
  margin-bottom: 0;
}

section.section1 .device-container,
section.section1 .feature-item {
  max-width: 325px;
  margin: 0 auto;
}

section.section1 .device-container {
  margin-bottom: 100px;
}

@media (min-width: 992px) {
  section.section1 .device-container {
    margin-bottom: 0;
  }
}

section.section1 .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

section.section1 .feature-item h3 {
  font-size: 30px;
}

section.section1 .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: -webkit-linear-gradient(to left, #2B2D42, #8d99ae);
  background: linear-gradient(to left, #2B2D42, #8d99ae);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.section2 {
  text-align: center;
  color: white;
  min-height: 90vh;
  background: url("../img/bg-pattern.png"), linear-gradient(to left, rgb(43, 45, 66), rgb(76, 76, 76));
}

section.section2 h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

section.section2 h2 i {
  color: #dd4b39;
}

section.section2 ul.list-social {
  margin-bottom: 0;
}

section.section2 ul.list-social li a {
  font-size: 40px;
  line-height: 80px;
  display: block;
  width: 80px;
  height: 80px;
  color: white;
  border-radius: 100%;
}

section.section2 ul.list-social li.social-twitter a {
  background-color: #1da1f2;
}

section.section2 ul.list-social li.social-twitter a:hover {
  background-color: #0d95e8;
}

section.section2 ul.list-social li.social-facebook a {
  background-color: #3b5998;
}

section.section2 ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}

section.section2 ul.list-social li.social-google-plus a {
  background-color: #dd4b39;
}

section.section2 ul.list-social li.social-google-plus a:hover {
  background-color: #d73925;
}

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

footer p {
  font-size: 12px;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
}

.bg-primary {
  color: white;
  background: rgb(240, 102, 0);
  background: -webkit-linear-gradient(to left, rgb(43, 45, 66), rgb(76, 76, 76));
  background: linear-gradient(to left, rgb(43, 45, 66), rgb(76, 76, 76));
}

.text-primary {
  color: #fdcc52;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border: 1px solid white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: rgb(76, 76, 76);
  background-color: rgb(76, 76, 76);
}

.btn-outline-inverse {
  color: white;
  border: 1px solid rgb(76, 76, 76);
  background-color: rgb(76, 76, 76);
}

.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active, .btn-outline-inverse.active {
  color: rgb(76, 76, 76);
  border: 1px solid rgb(76, 76, 76);
  background-color: white;
}

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}

.row {
  text-align: center;
}

.fp-row {
  margin: 3em 0;
}

.center {
  text-align: center;
}

.small {
  font-size: .9em;
  word-wrap: break-word;
}

.list-inline-item {
  margin: 1em 2em 0 2em;
}

.list-inline-item i {
  color: rgb(76, 76, 76);
}

#register .form-control {
  width: 60%;
  margin: 0 auto;
}

header.masthead .header-content-lg {
  max-width: 70%;
}

@media (min-width: 992px) {
  .tx-table {
    display: inline-table;
    margin: 0 auto
  }
}

.slim {
  line-break: anywhere;
  margin: auto;
}

.inline {
  display: inline;
}

.container-slim {
  width: 70%;
  margin: 0 auto;
}

.dashboard-buttons {
  width: 100%;
  margin: 3em auto;
  display: block;
}

.dashboard-button {
  display: inline;
}

.send-form {
  width: 60%;
  margin: 0 auto;
}

.secrets-form {
  width: 60%;
  margin: 0 auto;
}

ol li {
  font-size: 1.1em;
  padding-bottom: .75em;
}

.hidden {
  display: none;
}

#startVideo {
  border: 2px solid white;
  border-radius: 4px;
  padding: 6px;
}

.mt-button {
  text-decoration: none;
  background-color: transparent;
}

meter {
  /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  margin: 0 auto 1em;
  width: 100%;
  height: 0.5em;

  /* Applicable only to Firefox */
  background: rgba(0, 0, 0, 0.1) none;
}

meter::-webkit-meter-bar {
  background: rgba(0, 0, 0, 0.1) none;
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

/* Gecko based browsers */
/*noinspection CssInvalidPseudoSelector*/
meter[value="1"]::-moz-meter-bar { background: red; }
/*noinspection CssInvalidPseudoSelector*/
meter[value="2"]::-moz-meter-bar { background: yellow; }
/*noinspection CssInvalidPseudoSelector*/
meter[value="3"]::-moz-meter-bar { background: orange; }
/*noinspection CssInvalidPseudoSelector*/
meter[value="4"]::-moz-meter-bar { background: green; }
