<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/noty.js"></script>

{% with messages = get_flashed_messages() %}
  {% if messages %}
  <script type="text/javascript">
    {% for message in messages %}
    new Noty({
      type: 'warning',
      theme: 'relax',
      layout: 'topCenter',
      text: '{{ message }}',
      timeout: 3500
    }).show();
    {% endfor %}
  </script>
  {% endif %}
{% endwith %}
