<!DOCTYPE html>
<html lang="en">

  {% include 'head.html' %}

  <body id="page-top">

    {% include 'navbar.html' %}

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-12 my-auto">
            <div class="header-content-sm mx-auto">
                <h1 class="mb-4"><u>Frequently Asked Questions</u></h1>
              <hr><br>
              <h3>What Is This Site?</h3>
              <p>
                This is a website that allows users to send and receive <a href="https://www.xolentum.org" target="
                ">Xolentum</a>, a decentralized, peer-to-peer and open source digital currency.
              </p>
              <h3>How Does It Work?</h3>
              <p>
                When a user register, he/she chooses to a either generate a new Xolentum wallet or restore an existing wallet from seed. When logging in, each user's wallet gets mapped to them in the backend so that they can interact with only their wallet in the browser. Users can then use the site to send XOL and view their transactions.
              </p>
              <h3>Is It Safe?</h3>
              <p>
                All measures have been taken to ensure the security of this application. However, web wallets in general are not recommended for use as there are too many attack vectors and possible ways to potentially bypass security. Additionally, even though users can control the seed, this is technically a custodial wallet because we hold the wallet files and secrets used to access them. If someone finds a way to hack into the server, they could potentially gain access to this as well.<br><br>However, if the user willing to accept the risks, web wallets do make it very easy and convenient to get started, but users have to trust the service.
              </p>
              <h3>What Should I Use Instead?</h3>
              <p>
                Check the <a href="https://www.xolentum.org/downloads/" target="_blank">Downloads</a> page, for the most recent software wallets available (CLI/GUI). Anything users can install on their own computer is the safest bet. This website uses `xolentum-wallet-cli` under the hood; users should use that.
              </p>
            </div>
          </div>
        </div>
      </div>
    </header>

    {% include 'footer.html' %}

    {% include 'scripts.html' %}

  </body>

</html>
