<!DOCTYPE html>
<html lang="en">

  {% include 'head.html' %}

  <body id="page-top">

    {% include 'navbar.html' %}

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-12 my-auto">
            <div class="header-content mx-auto">
              <img src="/static/img/maintenance.png" alt="Maintenance Image">
              <hr>
              <p>Xolon is currently undergoing scheduled maintenance, we will be back soon. Thanks for your patience!</p>
                <a href=""><button class="btn btn-outline btn-xl js-scroll-trigger mt-button" style="display: block; margin: 0 auto;">Refresh</button></a>
            </div>
          </div>
        </div>
      </div>
    </header>

    {% include 'footer.html' %}

    {% include 'scripts.html' %}

  </body>

</html>
