<!DOCTYPE html>
<html lang="en">

  {% include 'head.html' %}

  <body id="page-top">

    {% include 'navbar.html' %}

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-12 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-4">Privacy Policy</h1>
              <p>Here is the information I will collect from you:</p>
              <ul>
                <li>Web server access logs (Source IP address, browser user-agent, page requests, etc)</li>
                <li>Email address and salted/hashed password (registration)</li>
                <li>Application events and metrics (function execution and the user who triggered)</li>
              </ul>
              <p>I check logs and capture events for troubleshooting purposes only. None of this data is shared with any third parties because I'm not a fucking lame.</p>
            </div>
          </div>
        </div>
      </div>
    </header>

    {% include 'footer.html' %}

    {% include 'scripts.html' %}

  </body>

</html>
