<!DOCTYPE html>
<html lang="en">

  {% include 'head.html' %}

  <body id="page-top">

    {% include 'navbar.html' %}

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-12 my-auto">
            <div class="header-content mx-auto">
                <h1 class="mb-4"><u>Terms of Service</u></h1>
              <p>By using this service, users must accept and agree to be bound by the terms of service outlined below:</p>
              <ol>
                <li>The user shall be responsible for saving their wallet's mnemonic seed locally.</li>
                <li>The user shall accept the risks in using this service to manage Xolentum funds.</li>
                <li>The user shall take responsibility for any mishap that occurs with their account or wallet funds.</li>
                <li><b>Under no circumstances will this service be liable for any lost crypto currency due to any reason.</b></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </header>

    {% include 'footer.html' %}

    {% include 'scripts.html' %}

  </body>

</html>
