<!DOCTYPE html>
<html lang="en">

  {% include 'head.html' %}

  <body id="page-top">

    {% include 'navbar.html' %}

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-12 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-4">Terms of Service</h1>
              <p>By using this service you accept and agree to be bound by the terms of service outlined below.</p>
              <ol>
                <li>You will save your wallet's mnemonic seed.</li>
                <li>You will not be an asshole.</li>
                <li>You will accept the risks in using this service to manage Xolentum funds.</li>
                <li>You will take responsibility for anything that occurs with your user account or wallet funds.</li>
                <li>You will accept that under no circumstances will this service be liable for any lost cryptocurrency due to any reason.</li>
                <li>You will agree to participate in the meme economy and support other Xolentum projects, such as <a href="https://suchwow.xyz" target="_blank">SuchWow!</a>.</li>
                <li>You will learn how to use a real wallet and not use a web wallet like a bitch.</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </header>

    {% include 'footer.html' %}

    {% include 'scripts.html' %}

  </body>

</html>
