<!DOCTYPE html>
<html lang="en">

  {% include 'head.html' %}

  <body id="page-top">

    {% include 'navbar.html' %}

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-12 my-auto">
            <div class="header-content mx-auto">
             <h1 class="mb-4">Change Password</h1>
              <form method="POST" action="{{ url_for('auth.reset_with_token', token=token) }}">
                  {{ form.csrf_token }}
                  {% for f in form %}
                    {% if f.name != 'csrf_token' %}
                      <div class="form-group">
                        {{ f.label }}
                        {{ f }}
                      </div>
                    {% endif %}
                  {% endfor %}
                  <ul>
                  {% for field, errors in form.errors.items() %}
                      <li>{{ form[field].label }}: {{ ', '.join(errors) }}</li>
                  {% endfor %}
                </ul>
                  <input type="submit" value="Change Password" class="btn btn-link btn-outline btn-xl">
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>

    {% include 'footer.html' %}

    {% include 'scripts.html' %}

  </body>

</html>
