<!DOCTYPE html>
<html lang="en">

  {% include 'head.html' %}

  <body id="page-top">

    {% include 'navbar.html' %}

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-12 my-auto">
            <div class="header-content mx-auto">
              <form method="POST" action="{{ url_for('auth.login') }}">
                  {{ form.csrf_token }}
                  {% for f in form %}
                    {% if f.name != 'csrf_token' %}
                      <div class="form-group">
                        {{ f.label }}
                        {{ f }}
                      </div>
                    {% endif %}
                  {% endfor %}
                  {{ form.recaptcha }}
                  <ul>
                  {% for field, errors in form.errors.items() %}
                      <li>{{ form[field].label }}: {{ ', '.join(errors) }}</li>
                  {% endfor %}
                </ul>
                <br>
                  <input type="submit" value="Login" class="btn btn-link btn-outline btn-xl">
              </form>
              <br>
              <p class="small">Don't have an account? <a href="{{ url_for('auth.register') }}" class="">Register</a> now.</p>
              <p class="small">Forgot your password? <a href="{{ url_for('auth.reset') }}" class="">Reset</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </header>

    {% include 'footer.html' %}

    {% include 'scripts.html' %}

  </body>

</html>
