<!DOCTYPE html>
<html lang="en">

  {% include 'head.html' %}

  <body id="page-top">

    {% include 'navbar.html' %}

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-12 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-4">Be Advised</h1>
              <p>Xolentum is a privacy centric cryptocurrency and is most safely managed on your own personal devices, on your own network, and with your own copy of the blockchain. This is a publicly accessible website, and while strict security measures are implemented on our servers, your account's security <strong>cannot</strong> be guaranteed. </p>
              <p>If you decide to use this site for managing your funds, you do so at your own risk and are bound by the terms and conditions of this site. Practice good operational security and do not use this site for large amounts of funds.</p>
              <div>
                <a href="{{ url_for('meta.faq') }}">FAQ</a> -
                <a href="{{ url_for('meta.terms_of_service') }}">Terms</a> -
                <a href="{{ url_for('meta.privacy_policy') }}">Privacy</a>
              </div><br>
              <a href="#register" class="btn btn-outline btn-xl js-scroll-trigger">Proceed</a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="section1" id="register">
      <div class="container">
        <div class="section-heading text-center">
          <form method="POST" action="{{ url_for('auth.register') }}">
              {{ form.csrf_token }}
              {% for f in form %}
                {% if f.name != 'csrf_token' %}
                  {% if f.type == 'BooleanField' %}
                    <div class="form-group-span">
                      {{ f.label }}
                      {{ f }}
                    </div>
                  {% endif %}
                {% endif %}
              {% endfor %}
              <div class="form-group">
                  {{ f.email.label }}
                  {{ f.email }}
              </div>
              <div class="form-group">
                  {{ f.password.label }}
                  {{ f.password }}
              </div>
              <meter max="4" id="password-strength-meter" value=""></meter>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
              <script>
                  let strength = {
                    0: "Worst",
                    1: "Bad",
                    2: "Weak",
                    3: "Good",
                    4: "Strong"
                  }
                  let password = document.getElementById('password');
                  let meter = document.getElementById('password-strength-meter');
                  let text = document.getElementById('password-strength-text');

                  password.addEventListener('input', function() {
                    let val = password.value;
                    let result = zxcvbn(val);

                    // Update the password strength meter
                    meter.value = result.score;

                    // Update the text indicator
                    if (val !== "") {
                      text.innerHTML = "Strength: " + strength[result.score];
                    } else {
                      text.innerHTML = "";
                    }
                  });
              </script>
              <p id="password-strength-text"></p>
              <div class="form-group">
                  {{ f.confirm_password.label }}
                  {{ f.confirm_password }}
              </div>
              <ul>
              {% for field, errors in form.errors.items() %}
                  <li>{{ form[field].label }}: {{ ', '.join(errors) }}</li>
              {% endfor %}
              </ul>
            <input type="submit" value="Register" class="btn btn-link btn-outline-inverse btn-xl">
          </form>
          <hr>
          <p class="small">Already have an account? <a href="{{ url_for('auth.login') }}" class="">Login</a> instead.</p>
        </div>
      </div>
    </section>

    {% include 'footer.html' %}

    {% include 'scripts.html' %}

  </body>

</html>
