<!DOCTYPE html>
<html lang="en">

  {% include 'head.html' %}

  <body id="page-top">

    {% include 'navbar.html' %}

    <section class="section2">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Account pending activation</h2>
            <p>Your account is pending activation. Please check your email for the confirmation link.Please check your email for the confirmation link. Note that it may take a few minutes to arrive in your inbox. Please also check your <i>Spam</i> folder.</p>
            <br>
            <p>If you still cannot find the email click the button below to resend the email.</p>
          <span class="dashboard-buttons">
              <a class="btn btn-lg btn-link btn-outline btn-xl" href="{{ url_for('auth.resend_confirmation') }}">Resend email</a>
          </span>
        </div>
      </div>
    </section>

    {% include 'footer.html' %}

    {% include 'scripts.html' %}

  </body>

</html>